*{
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.header-text{
  color: #272727;
font-size: 35px;
}
.header-description{
  color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-weight: 400;
}
.header-container{
  background-color:rgba(229, 84, 115, 0.10);
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.banner{
  width: 400px;
  margin-top: 66px;


}
.btn{
  border-radius: 8px;
background: #E55473;
color: white;
border: none;
padding: 10px 20px;
margin-top: 40px;
}
.description{
font-size: 12px;
margin-top: 10px;
color: #27272799;
}
.main-text{
  text-align: center;
  margin-top: 95px;
}
.flower-1{
  width: 270px;
  height: 370px;
  background-color:#A7216226;
  border: 1px solid;
  border-radius: 300px 300px 0px 0px;
 
}
.flower-img{

  width: 230px;
  margin-top: 53px ;
  margin-left: 10px;
  
}
.flower-container{
  display: flex;
  justify-content:center;
  text-align: center;
  align-items: center;
  align-content: center;
  gap: 25px;
  padding: 70px 70px;

}
.flower-2{
  width: 270px;
  height:370px;
  background-color:#A7216226;
  border: 1px solid;
  border-radius: 300px 300px 0px 0px;
}
.flower-3{
  width: 270px;
  height: 370px;
  background-color:#A7216226;
  border: 1px solid;
  border-radius: 300px 300px 0px 0px;
 
}
.flower-img-3{
  width: 220px;
  margin-top:40px ;
  
}
.flower-img-2{
  width: 250px;
  margin-top: 95px;
  margin-left: 22px;
}
.icon-section{
  background-color:rgba(255, 228, 196, 0.348);
  width: 70%;
  text-align: center;
}
.icon-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 30px;
}
.hotdeal-container{
  display: flex;
  background-color: #e5547326;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  text-align: center;
  margin-top: 90px;
}
.hotdeal-img{
  width: 170px;
}
.hotdeal-text{
  /*
   margin-top: 30px; */
}
.hotdeal-heading{
  font-size: 42px;
}
.color-text{
  color: #E55473;
}
.hotdeal-description{
  text-align: center;
 color:#27272799
  
}
.instagram-heading{
  text-align: center;
  margin-top: 120px;
}
.instagram-description{
  font-size: 12px;
  color: #27272799;
  padding-top: 30px;

}
.image-1{
  width: 250px;
height: 260px;
background-image: url(./Flower\ 01.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.image-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}
.image-2{
  width: 250px;
height: 260px;
background-image: url(./Rectangle\ 4.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.image-3{
  width: 250px;
  height: 260px;
  background-image: url(./Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.image-4{
  width: 250px;
  height: 260px;
  background-image: url(./Rectangle\ 6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.deal-container{
background-image:url(./Rectangle\ 9.png);
height: 70vh;
background-repeat: no-repeat;
/* background-position: center; */
background-size: cover;
margin-top: 120px;
text-align: center;
}
.deal-description{
  color: #27272799;
  font-size: 13px;
  margin-top: 16px;
}
.deal-heading{
  font-size: 33px;
}
.deal-text{
  padding-top: 200px
}
.form{
  padding: 10px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 7px;
  padding-right: 250px;
  margin-top: 40px;
}
.email-btn{
  background-color: #E55473;
  border-radius: 7px;
  border: none;
  
}
.email{
  display: flex;
  justify-content: center;
  gap: 10px;
}
